In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [16]:
data=pd.read_csv('accre-gpu-jobs-2022-v2.csv', on_bad_lines='skip')
data

,JOBID,ACCOUNT,USER,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,GPUS,PARTITION,EXITCODE,STATE
0,32880657,malanga,arline,18.66M,2-00:00:00,00:13:13,1,2,1,pascal,0:0,COMPLETED
1,32880701,glasshouse,brady,0,05:00:00,00:00:22,1,3,1,maxwell,0:0,COMPLETED
2,32880718,glasshouse,brady,402.32M,05:00:00,00:08:57,1,3,1,maxwell,0:0,COMPLETED
3,32880719,glasshouse,brady,417.62M,20:00:00,05:09:46,1,1,1,pascal,0:0,COMPLETED
4,32880720,glasshouse,brady,450.09M,15:00:00,04:11:10,1,1,1,pascal,0:0,COMPLETED
...,...,...,...,...,...,...,...,...,...,...,...,...
336945,46754520_26,harovin,porsha,0,5-00:00:00,00:07:07,1,6,1,turing,0:0,RUNNING
336946,46754542,malanga,arline,0,2-00:00:00,00:00:00,0,2,1,pascal,0:0,PENDING
336947,46754560,malanga,arline,0,2-00:00:00,00:00:00,0,2,1,pascal,0:0,PENDING
336948,46754598,glasshouse,treva,145.24M,1-00:00:00,00:01:26,1,5,1,turing,0:0,COMPLETED
336949,46754618,malanga,arline,0,2-00:00:00,00:00:00,0,2,1,pascal,0:0,PENDING

In [28]:
data = (data[
    (data['STATE']=='COMPLETED') &
    (data['USEDMEM']!='0') &
    (data['USEDMEM']!='0.00M')])

In [29]:
data

,JOBID,ACCOUNT,USER,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,GPUS,PARTITION,EXITCODE,STATE
0,32880657,malanga,arline,18.66M,2-00:00:00,00:13:13,1,2,1,pascal,0:0,COMPLETED
2,32880718,glasshouse,brady,402.32M,05:00:00,00:08:57,1,3,1,maxwell,0:0,COMPLETED
3,32880719,glasshouse,brady,417.62M,20:00:00,05:09:46,1,1,1,pascal,0:0,COMPLETED
4,32880720,glasshouse,brady,450.09M,15:00:00,04:11:10,1,1,1,pascal,0:0,COMPLETED
5,32880721,glasshouse,brady,403.40M,3-12:00:00,18:49:36,1,1,1,pascal,0:0,COMPLETED
...,...,...,...,...,...,...,...,...,...,...,...,...
336933,46753813,harovin,shannon,137.96M,5-00:00:00,00:00:52,1,1,1,turing,0:0,COMPLETED
336934,46753820_26,harovin,porsha,5093.70M,5-00:00:00,00:34:51,1,6,1,turing,0:0,COMPLETED
336936,46753823,harovin,shannon,156.21M,5-00:00:00,00:04:03,1,1,1,turing,0:0,COMPLETED
336942,46754095,harovin,shannon,2820.52M,5-00:00:00,00:11:13,1,1,1,turing,0:0,COMPLETED
336948,46754598,glasshouse,treva,145.24M,1-00:00:00,00:01:26,1,5,1,turing,0:0,COMPLETED

In [34]:
def str2seconds(timestr):
    if len(timestr) == 8:
        # split in hh, mm, ss
        hh, mm, ss = timestr.split(':')
        return int(hh) * 3600 + int(mm) * 60 + int(ss)
    else:
        d = timestr[0]
        dropday = timestr[2:]
        hh, mm, ss = dropday.split(':')
        return int(d) *3600*24 + int(hh) * 3600 + int(mm) * 60 + int(ss)

In [47]:
usedtime = data['USEDTIME']
usedtime_seconds = []
for string in usedtime:
    usedtime_seconds.append(str2seconds(string))
usedtime_seconds

[793,
 537,
 18586,
 15070,
 67776,
 29358,
 333,
 328,
 293,
 2441,
 4136,
 1495,
 1426,
 332,
 327,
 293,
 2473,
 4141,
 7205,
 334,
 326,
 293,
 2479,
 4121,
 332,
 326,
 293,
 2459,
 4129,
 21605,
 21605,
 21617,
 346,
 326,
 300,
 2453,
 3810,
 760,
 1520,
 746,
 360,
 325,
 299,
 2563,
 3475,
 777,
 758,
 3292,
 7204,
 741,
 718,
 2135,
 767,
 359,
 327,
 299,
 2580,
 3481,
 741,
 730,
 794,
 792,
 1405,
 81,
 776,
 762,
 362,
 350,
 296,
 2454,
 3489,
 731,
 734,
 252,
 732,
 21605,
 117514,
 7206,
 758,
 6240,
 754,
 778,
 722,
 50,
 14405,
 773,
 748,
 746,
 752,
 335,
 331,
 298,
 2434,
 3744,
 770,
 777,
 753,
 787,
 796,
 41,
 39,
 69,
 778,
 14419,
 750,
 786,
 742,
 635,
 537,
 19065,
 528,
 18275,
 778,
 338,
 331,
 296,
 2494,
 3635,
 2086,
 762,
 165,
 35410,
 45,
 98,
 761,
 107347,
 449,
 18521,
 445,
 18927,
 447,
 19260,
 294,
 749,
 7213,
 756,
 351,
 347,
 307,
 2498,
 3729,
 770,
 39,
 66,
 72,
 125,
 94,
 69,
 789,
 4668,
 82,
 787,
 784,
 807,
 396,
 394,
 313,
 2521,
 3742,
 3627,
 82,
 145,
 204,
 740,
 132,
 777,
 757,
 1535,
 617,
 5771,
 3312,
 344,
 355,
 316,
 2963,
 4346,
 3724,
 4245,
 4031,
 3847,
 4557,
 3582,
 3837,
 3820,
 3520,
 3708,
 4311,
 3572,
 4422,
 4258,
 793,
 764,
 807,
 54,
 73,
 156,
 201,
 188,
 766,
 67,
 363,
 338,
 312,
 2489,
 4188,
 746,
 56,
 797,
 3055,
 793,
 3074,
 3638,
 2755,
 3311,
 3478,
 3284,
 3006,
 3439,
 3071,
 3244,
 3828,
 3305,
 3448,
 3789,
 72,
 141,
 748,
 754,
 181,
 344,
 346,
 314,
 2502,
 3661,
 187,
 753,
 100,
 111,
 111,
 110,
 737,
 770,
 734,
 791,
 730,
 73,
 103,
 106,
 97,
 360026,
 360026,
 360026,
 360026,
 360026,
 360026,
 360026,
 360026,
 784,
 791,
 749,
 760,
 1472,
 791,
 775,
 700,
 341,
 334,
 295,
 2449,
 3463,
 416671,
 416671,
 416671,
 416671,
 416671,
 416671,
 774,
 105,
 63,
 762,
 362,
 344,
 308,
 2509,
 3609,
 791,
 41,
 759,
 803,
 768,
 364,
 332,
 296,
 2504,
 3617,
 355,
 342,
 295,
 2443,
 3595,
 60309,
 69851,
 355,
 344,
 302,
 2484,
 3600,
 748,
 15231,
 17697,
 3523,
 17530,
 17906,
 1489,
 1467,
 379,
 17681,
 15493,
 382,
 17960,
 13022,
 379,
 16437,
 15805,
 332,
 329,
 301,
 2579,
 3519,
 154,
 19539,
 331,
 328,
 301,
 2576,
 3487,
 15640,
 777,
 760,
 791,
 786,
 777,
 768,
 783,
 335,
 325,
 296,
 2570,
 3513,
 730,
 743,
 151,
 772,
 785,
 351,
 353,
 316,
 2577,
 3527,
 736,
 796,
 77,
 211,
 146,
 765,
 1543,
 370,
 331,
 292,
 2466,
 3525,
 148,
 784,
 183,
 795,
 116,
 724,
 336,
 327,
 300,
 2564,
 3509,
 800,
 89,
 744,
 757,
 793,
 738,
 820,
 342,
 323,
 295,
 2453,
 3774,
 266,
 243,
 116,
 767,
 183,
 794,
 749,
 754,
 340,
 327,
 295,
 2454,
 3791,
 768,
 740,
 795,
 732,
 160,
 1231,
 1152,
 60,
 1125,
 748,
 343,
 331,
 291,
 2445,
 3495,
 765,
 111,
 768,
 761,
 746,
 766,
 777,
 1534,
 38,
 789,
 110,
 736,
 119,
 750,
 772,
 76,
 190,
 132,
 191,
 64,
 216,
 85,
 5679,
 5870,
 815,
 146,
 799,
 770,
 42,
 156,
 782,
 160,
 750,
 206,
 785,
 825,
 104,
 834,
 637,
 40,
 2110,
 627,
 794,
 128,
 839,
 435,
 252,
 7950,
 46,
 2827,
 99,
 255,
 7400,
 68,
 43,
 102,
 827,
 771,
 975,
 162,
 153,
 1482,
 1537,
 67,
 804,
 1549,
 60,
 177,
 735,
 161,
 46,
 113,
 773,
 75,
 157,
 760,
 806,
 780,
 769,
 782,
 79,
 53,
 59,
 171,
 786,
 779,
 113,
 113,
 148,
 743,
 814,
 812,
 756,
 739,
 737,
 650,
 78,
 141,
 752,
 918,
 244,
 266,
 244314,
 244314,
 1462,
 1487,
 2603,
 5639,
 5590,
 138229,
 2005,
 2002,
 276359,
 172806,
 146357,
 145439,
 146278,
 146379,
 145984,
 145353,
 146361,
 146048,
 147326,
 145831,
 61,
 61,
 61,
 145191,
 145877,
 143484,
 140770,
 141547,
 172847,
 157,
 787,
 777,
 789,
 780,
 35923,
 804,
 766,
 792,
 749,
 759,
 7848,
 781,
 778,
 758,
 744,
 59,
 96,
 788,
 776,
 750,
 765,
 790,
 96,
 784,
 726,
 781,
 1413,
 753,
 1418,
 761,
 94,
 265,
 218,
 169,
 788,
 789,
 1437,
 1561,
 758,
 1453,
 90,
 124,
 104,
 744,
 787,
 809,
 57,
 84,
 1424,
 785,
 750,
 759,
 114,
 158,
 775,
 797,
 38268,
 201,
 43,
 41,
 45,
 360002,
 360002,
 360002,
 360002,
 288010,
 288009,
 288009,
 288009,
 288009,
 288009,
 288009,
 288009,
 288009,
 288009,
 288009,
 288009,
 288009,
 288009,
 288009,
 288009,
 288009,
 288009,
 288009,
 288009,
 288031,
 798,
 813,
 797,
 152,
 125,
 821,
 805,
 742,
 775,
 765,
 817,
 778,
 737,
 750,
 796,
 774,
 755,
 765,
 779,
 744,
 1534,
 98,
 729,
 779,
 782,
 756,
 146,
 150,
 72,
 787,
 132,
 43,
 788,
 738,
 805,
 70,
 761,
 122,
 73,
 50,
 125,
 778,
 782,
 758,
 785,
 54,
 43,
 747,
 235,
 179,
 122,
 119,
 122,
 123,
 117,
 110,
 111,
 754,
 1222,
 1220,
 1207,
 1249,
 801,
 1236,
 1220,
 1299,
 738,
 50,
 432016,
 432016,
 432016,
 432016,
 432016,
 432016,
 432016,
 432016,
 135,
 40,
 115,
 432016,
 432016,
 432016,
 432016,
 432016,
 432016,
 799,
 727,
 1427,
 1533,
 765,
 769,
 1489,
 1473,
 762,
 782,
 47,
 81,
 767,
 811,
 751,
 48,
 48,
 88,
 88,
 100,
 1451,
 741,
 795,
 141,
 145,
 213,
 734,
 762,
 198,
 125,
 1457,
 786,
 68,
 132,
 5043,
 35095,
 32079,
 22384,
 761,
 777,
 727,
 770,
 2251,
 41,
 783,
 740,
 184,
 156,
 117,
 762,
 761,
 73,
 1192,
 774,
 1053,
 1151,
 747,
 51,
 44,
 51,
 746,
 772,
 733,
 765,
 726,
 41,
 56,
 740,
 763,
 764,
 52,
 740,
 105,
 119,
 740,
 802,
 1477,
 217,
 67,
 143,
 795,
 91,
 769,
 734,
 728,
 244,
 224,
 241,
 177,
 34,
 37,
 754,
 165,
 112,
 734,
 767,
 739,
 764,
 289,
 253,
 173,
 164,
 796,
 804,
 737,
 725,
 783,
 754,
 757,
 1531,
 51,
 41,
 37,
 792,
 13606,
 1542,
 784,
 14526,
 749,
 793,
 782,
 784,
 93,
 248,
 108,
 153,
 164,
 64,
 123,
 779,
 766,
 166,
 755,
 754,
 756,
 764,
 769,
 769,
 172,
 111,
 789,
 219,
 38,
 168,
 729,
 779,
 100,
 767,
 766,
 765,
 758,
 236,
 233,
 764,
 776,
 750,
 774,
 803,
 785,
 790,
 810,
 90,
 90,
 266,
 742,
 153,
 171,
 89,
 86,
 40,
 150,
 264,
 762,
 751,
 148,
 289,
 760,
 773,
 1510,
 786,
 769,
 35,
 61,
 57,
 120,
 732,
 749,
 186,
 767,
 188,
 148,
 771,
 798,
 766,
 58,
 72,
 79,
 783,
 72,
 787,
 59,
 740,
 756,
 744,
 756,
 56,
 805,
 731,
 96,
 163,
 776,
 753,
 115,
 732,
 108,
 47,
 166,
 118,
 779,
 781,
 172855,
 734,
 250,
 509,
 877,
 106,
 66,
 114,
 150,
 187,
 788,
 196,
 89,
 59,
 138,
 261,
 1507,
 1464,
 5600,
 5721,
 5576,
 5551,
 5631,
 5506,
 5662,
 5781,
 5635,
 5523,
 5563,
 5602,
 5597,
 5608,
 5644,
 5652,
 5756,
 5550,
 5601,
 5666,
 5620,
 5704,
 5613,
 5563,
 5563,
 5557,
 5598,
 5597,
 5582,
 5606,
 5604,
 5512,
 5506,
 5587,
 5549,
 ...]

In [41]:
reqtime = data['REQTIME']
reqtime_seconds = []
for string in reqtime:
    reqtime_seconds.append(str2seconds(string))
reqtime_seconds

[172800,
 18000,
 72000,
 54000,
 302400,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 7200,
 345600,
 345600,
 345600,
 345600,
 345600,
 345600,
 345600,
 345600,
 345600,
 345600,
 21600,
 21600,
 21600,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 3600,
 7200,
 172800,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 3600,
 172800,
 21600,
 432000,
 7200,
 172800,
 7200,
 172800,
 172800,
 172800,
 172800,
 14400,
 172800,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 14400,
 172800,
 172800,
 172800,
 10800,
 18000,
 72000,
 18000,
 72000,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 10800,
 172800,
 43200,
 324000,
 172800,
 172800,
 172800,
 172800,
 18000,
 72000,
 18000,
 72000,
 18000,
 72000,
 10800,
 172800,
 7200,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 9000,
 172800,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 3600,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 21600,
 14400,
 21600,
 345600,
 345600,
 345600,
 345600,
 345600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 172800,
 21600,
 172800,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 21600,
 172800,
 172800,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 36000,
 36000,
 36000,
 36000,
 180000,
 180000,
 180000,
 180000,
 172800,
 172800,
 36000,
 36000,
 36000,
 360000,
 360000,
 360000,
 360000,
 360000,
 360000,
 360000,
 360000,
 18000,
 18000,
 18000,
 172800,
 172800,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 172800,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 345600,
 345600,
 345600,
 345600,
 345600,
 432000,
 432000,
 345600,
 345600,
 345600,
 345600,
 345600,
 1800,
 54000,
 54000,
 432000,
 54000,
 54000,
 172800,
 172800,
 18000,
 72000,
 54000,
 18000,
 72000,
 54000,
 18000,
 72000,
 54000,
 345600,
 345600,
 345600,
 345600,
 345600,
 432000,
 432000,
 345600,
 345600,
 345600,
 345600,
 345600,
 54000,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 172800,
 172800,
 172800,
 432000,
 432000,
 172800,
 432000,
 172800,
 345600,
 345600,
 345600,
 345600,
 345600,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 14400,
 14400,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 1800,
 172800,
 432000,
 54000,
 172800,
 432000,
 172800,
 172800,
 172800,
 432000,
 172800,
 14400,
 172800,
 172800,
 432000,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 432000,
 432000,
 432000,
 432000,
 172800,
 172800,
 3600,
 14400,
 14400,
 172800,
 14400,
 14400,
 345600,
 172800,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 172800,
 43200,
 172800,
 172800,
 172800,
 172800,
 324000,
 172800,
 172800,
 172800,
 172800,
 172800,
 432000,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 180000,
 180000,
 180000,
 180000,
 360000,
 360000,
 360000,
 360000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 288000,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 36000,
 36000,
 36000,
 36000,
 36000,
 36000,
 36000,
 172800,
 180000,
 180000,
 180000,
 180000,
 172800,
 18000,
 18000,
 18000,
 172800,
 172800,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 172800,
 432000,
 172800,
 432000,
 432000,
 432000,
 432000,
 432000,
 432000,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 432000,
 432000,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 432000,
 172800,
 432000,
 432000,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 432000,
 432000,
 432000,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 72000,
 172800,
 172800,
 72000,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 172800,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 14400,
 ...]

In [46]:
data['USEDMEM'] = data['USEDMEM'].str.replace("M", '').astype('float')
data

/var/folders/y2/1hbr5nhn5g74yh6sf24m5s9xr861g0/T/ipykernel_69627/2559702012.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['USEDMEM'] = data['USEDMEM'].str.replace("M", '').astype('float')

,JOBID,ACCOUNT,USER,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,GPUS,PARTITION,EXITCODE,STATE
0,32880657,malanga,arline,18.66,2-00:00:00,00:13:13,1,2,1,pascal,0:0,COMPLETED
2,32880718,glasshouse,brady,402.32,05:00:00,00:08:57,1,3,1,maxwell,0:0,COMPLETED
3,32880719,glasshouse,brady,417.62,20:00:00,05:09:46,1,1,1,pascal,0:0,COMPLETED
4,32880720,glasshouse,brady,450.09,15:00:00,04:11:10,1,1,1,pascal,0:0,COMPLETED
5,32880721,glasshouse,brady,403.40,3-12:00:00,18:49:36,1,1,1,pascal,0:0,COMPLETED
...,...,...,...,...,...,...,...,...,...,...,...,...
336933,46753813,harovin,shannon,137.96,5-00:00:00,00:00:52,1,1,1,turing,0:0,COMPLETED
336934,46753820_26,harovin,porsha,5093.70,5-00:00:00,00:34:51,1,6,1,turing,0:0,COMPLETED
336936,46753823,harovin,shannon,156.21,5-00:00:00,00:04:03,1,1,1,turing,0:0,COMPLETED
336942,46754095,harovin,shannon,2820.52,5-00:00:00,00:11:13,1,1,1,turing,0:0,COMPLETED
336948,46754598,glasshouse,treva,145.24,1-00:00:00,00:01:26,1,5,1,turing,0:0,COMPLETED

In [48]:
data['used_time']=usedtime_seconds
data

/var/folders/y2/1hbr5nhn5g74yh6sf24m5s9xr861g0/T/ipykernel_69627/4122223406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['used_time']=usedtime_seconds

,JOBID,ACCOUNT,USER,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,GPUS,PARTITION,EXITCODE,STATE,used_time
0,32880657,malanga,arline,18.66,2-00:00:00,00:13:13,1,2,1,pascal,0:0,COMPLETED,793
2,32880718,glasshouse,brady,402.32,05:00:00,00:08:57,1,3,1,maxwell,0:0,COMPLETED,537
3,32880719,glasshouse,brady,417.62,20:00:00,05:09:46,1,1,1,pascal,0:0,COMPLETED,18586
4,32880720,glasshouse,brady,450.09,15:00:00,04:11:10,1,1,1,pascal,0:0,COMPLETED,15070
5,32880721,glasshouse,brady,403.40,3-12:00:00,18:49:36,1,1,1,pascal,0:0,COMPLETED,67776
...,...,...,...,...,...,...,...,...,...,...,...,...,...
336933,46753813,harovin,shannon,137.96,5-00:00:00,00:00:52,1,1,1,turing,0:0,COMPLETED,52
336934,46753820_26,harovin,porsha,5093.70,5-00:00:00,00:34:51,1,6,1,turing,0:0,COMPLETED,2091
336936,46753823,harovin,shannon,156.21,5-00:00:00,00:04:03,1,1,1,turing,0:0,COMPLETED,243
336942,46754095,harovin,shannon,2820.52,5-00:00:00,00:11:13,1,1,1,turing,0:0,COMPLETED,673
336948,46754598,glasshouse,treva,145.24,1-00:00:00,00:01:26,1,5,1,turing,0:0,COMPLETED,86

In [52]:
data['weighted']= (data['used_time'] * data['USEDMEM']) / data['used_time'].sum()
data

/var/folders/y2/1hbr5nhn5g74yh6sf24m5s9xr861g0/T/ipykernel_69627/206135541.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['weighted']= (data['used_time'] * data['USEDMEM']) / data['used_time'].sum()

,JOBID,ACCOUNT,USER,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,GPUS,PARTITION,EXITCODE,STATE,used_time,weighted
0,32880657,malanga,arline,18.66,2-00:00:00,00:13:13,1,2,1,pascal,0:0,COMPLETED,793,0.000009
2,32880718,glasshouse,brady,402.32,05:00:00,00:08:57,1,3,1,maxwell,0:0,COMPLETED,537,0.000135
3,32880719,glasshouse,brady,417.62,20:00:00,05:09:46,1,1,1,pascal,0:0,COMPLETED,18586,0.004867
4,32880720,glasshouse,brady,450.09,15:00:00,04:11:10,1,1,1,pascal,0:0,COMPLETED,15070,0.004253
5,32880721,glasshouse,brady,403.40,3-12:00:00,18:49:36,1,1,1,pascal,0:0,COMPLETED,67776,0.017143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336933,46753813,harovin,shannon,137.96,5-00:00:00,00:00:52,1,1,1,turing,0:0,COMPLETED,52,0.000004
336934,46753820_26,harovin,porsha,5093.70,5-00:00:00,00:34:51,1,6,1,turing,0:0,COMPLETED,2091,0.006678
336936,46753823,harovin,shannon,156.21,5-00:00:00,00:04:03,1,1,1,turing,0:0,COMPLETED,243,0.000024
336942,46754095,harovin,shannon,2820.52,5-00:00:00,00:11:13,1,1,1,turing,0:0,COMPLETED,673,0.001190
336948,46754598,glasshouse,treva,145.24,1-00:00:00,00:01:26,1,5,1,turing,0:0,COMPLETED,86,0.000008

In [53]:
data['per_gpu'] = data['weighted'] / data['GPUS']
data

/var/folders/y2/1hbr5nhn5g74yh6sf24m5s9xr861g0/T/ipykernel_69627/802593730.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['per_gpu'] = data['weighted'] / data['GPUS']

,JOBID,ACCOUNT,USER,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,GPUS,PARTITION,EXITCODE,STATE,used_time,weighted,per_gpu
0,32880657,malanga,arline,18.66,2-00:00:00,00:13:13,1,2,1,pascal,0:0,COMPLETED,793,0.000009,0.000009
2,32880718,glasshouse,brady,402.32,05:00:00,00:08:57,1,3,1,maxwell,0:0,COMPLETED,537,0.000135,0.000135
3,32880719,glasshouse,brady,417.62,20:00:00,05:09:46,1,1,1,pascal,0:0,COMPLETED,18586,0.004867,0.004867
4,32880720,glasshouse,brady,450.09,15:00:00,04:11:10,1,1,1,pascal,0:0,COMPLETED,15070,0.004253,0.004253
5,32880721,glasshouse,brady,403.40,3-12:00:00,18:49:36,1,1,1,pascal,0:0,COMPLETED,67776,0.017143,0.017143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336933,46753813,harovin,shannon,137.96,5-00:00:00,00:00:52,1,1,1,turing,0:0,COMPLETED,52,0.000004,0.000004
336934,46753820_26,harovin,porsha,5093.70,5-00:00:00,00:34:51,1,6,1,turing,0:0,COMPLETED,2091,0.006678,0.006678
336936,46753823,harovin,shannon,156.21,5-00:00:00,00:04:03,1,1,1,turing,0:0,COMPLETED,243,0.000024,0.000024
336942,46754095,harovin,shannon,2820.52,5-00:00:00,00:11:13,1,1,1,turing,0:0,COMPLETED,673,0.001190,0.001190
336948,46754598,glasshouse,treva,145.24,1-00:00:00,00:01:26,1,5,1,turing,0:0,COMPLETED,86,0.000008,0.000008

In [54]:
pascal=data[data['PARTITION']=='pascal']
pascal

,JOBID,ACCOUNT,USER,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,GPUS,PARTITION,EXITCODE,STATE,used_time,weighted,per_gpu
0,32880657,malanga,arline,18.66,2-00:00:00,00:13:13,1,2,1,pascal,0:0,COMPLETED,793,9.278040e-06,9.278040e-06
3,32880719,glasshouse,brady,417.62,20:00:00,05:09:46,1,1,1,pascal,0:0,COMPLETED,18586,4.866745e-03,4.866745e-03
4,32880720,glasshouse,brady,450.09,15:00:00,04:11:10,1,1,1,pascal,0:0,COMPLETED,15070,4.252889e-03,4.252889e-03
5,32880721,glasshouse,brady,403.40,3-12:00:00,18:49:36,1,1,1,pascal,0:0,COMPLETED,67776,1.714286e-02,1.714286e-02
7,32880741,malanga,arline,1119.66,2-00:00:00,08:09:18,1,2,1,pascal,0:0,COMPLETED,29358,2.061029e-02,2.061029e-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336914,46753151,malanga,arline,29.85,2-00:00:00,00:14:28,1,2,1,pascal,0:0,COMPLETED,868,1.624559e-05,1.624559e-05
336915,46753169,malanga,arline,28.11,2-00:00:00,00:14:16,1,2,1,pascal,0:0,COMPLETED,856,1.508711e-05,1.508711e-05
336916,46753170,glasshouse,tamara,10007.76,20:00:00,00:29:16,1,5,4,pascal,0:0,COMPLETED,1756,1.101876e-02,2.754690e-03
336917,46753171,malanga,arline,28.21,2-00:00:00,00:14:29,1,2,1,pascal,0:0,COMPLETED,869,1.537072e-05,1.537072e-05
336930,46753801,glasshouse,tamara,4.84,3-08:00:00,00:00:07,1,5,4,pascal,0:0,COMPLETED,7,2.124295e-08,5.310737e-09